.navbar-inverse{
    background-color:#FF69B4;
    border-color:#FF69B4;
}
.navbar-inverse .navbar-nav>li>a {
    color:white;
}
.navbar-inverse .navbar-nav>li>a:hover{
    color:#FFB6C1;
}
.navbar-inverse .navbar-brand{
    color:white;
}
img{
    margin-left:auto;
    margin-right:auto;
}
